*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.post-content {
    padding: 20px;
}

.post-footer {
    padding: 10px 20px;
    border-top: 1px solid #e0e0e0;
}

p {
    margin: 0 0 10px; /* Add margin at the bottom of each paragraph */
}

a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold; /* Add bold font-weight to the username/feeling */
}

a:hover {
    text-decoration: underline;
}

.post-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

.navbar {
    background-color: #4267B2;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-link {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #355492;
}

.navbar-user {
    display: flex;
    align-items: center;
}

.navbar-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

/* =======================user form======================== */

.form-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group button {
    background-color: #4267B2;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #355492;
}

.form-footer {
    text-align: center;
}

.form-footer a {
    color: #4267B2;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}
/* =========================================== */


.owner-avatar {
width: 40px; /* Adjust the width to your preference */
height: 40px; /* Adjust the height to your preference */
border-radius: 50%;
margin-right: 10px; /* Adjust the margin as needed */
}


